<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Spring Boot Tutorials</title>
	<script src="https://cdn.jsdelivr.net/npm/htmx.org@4.0.0/dist/htmx.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/htmx.org@4.0.0/dist/ext/hx-sse.min.js"></script>
	<meta name="htmx-config" content="sse.reconnect:false">
	<meta name="htmx-config" content="sse.reconnectDelay:1s">
	<meta name="htmx-config" content="sse.reconnectMaxDelay:30s">
	<meta name="htmx-config" content="sse.reconnectMaxAttempts:10">
</head>
<body>
	<h1 hx-sse:connect="/time" hx-on:time="htmx.find('#time').innerHTML += event.detail.data + '<br />'">
    	Spring Boot Tutorial</br>
	</h1>
	<p id="time">Time: </p>
</body>
</html>